@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans+TC:wght@300&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Noto Sans TC', sans-serif;
*/

*{
    padding:0px;
    margin: 0px;
}

.container1{
    text-align: center;
    background-image: url("bg.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    padding-top: 10%;
    justify-content: center;
    font-size: x-large;
    font-family: 'Inter', sans-serif;

}

.container2{
    padding-top: 75px;
    background-color: #FFE7E7;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.container2 > label{
    padding-right:10px;
    padding-top: 300px;
    font-family: 'Noto Sans TC', sans-serif;
}
.container2 input{
    margin:10px;
    font-family: 'Noto Sans TC', sans-serif;
}


button{
    margin-top: 10%;
    background-color: greenyellow;
    padding: 10px;
    border-radius: 8px;
    border-color: greenyellow;
    font-family: 'Noto Sans TC', sans-serif;
}



